*{
    padding: 0;
    margin: 0;
}

.read-more {
    position: absolute;
    background-image: url(./1732454485272.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    height: 100vh;
    padding: 30px;
    font-size: 2.30rem;
}


 