*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    width: 100;
}

.logo{
    width: 100px;
    height: 100px;
}

.navlinks{
    display: flex;
    gap: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlinks li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.navlinks li :hover{
    background: rgb(18, 126, 4);
    color: #ffffff;
    border-radius: 3%;
    transform: translateY(-2px);

}

.nav-button{
    background: #374103;
    border-radius: 5px;
    padding: 8px 20px;
}

.contact-btn{
    color: #fff;
    text-decoration: none;
    font-weight: 600;   
}

.nav-button:hover{
 background: rgb(18, 126, 4);
 color: #ffffff;

}

.hamburger{
    display: none;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
}

.chat-section{
    background: #374103;
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.chat-container{
    width: 100%;
    max-width: 1100px;
    height: 90px;
    overflow: hidden;
    border-radius: 2px;
}

.chat-container iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.hero{
    position: relative;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./IMG-20251229-WA0059.jpg);
    background-size: cover;
    background-position: center;
    animation: slowZoom 18s ease-in-out infinite alternate;
}

.hero-content{
    position: relative;
    text-align: center;
    color: #fff;
    max-width: 1200px;
    line-height: 1.8;
    font-size: 30px;
}

.hero-content h2 {
     font-size: 1.8rem;
     margin-top: 40px;
    }
.hero-content p {
     font-size: 1.40rem;
     margin-bottom: 29px 
    }
.hero-buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hero-buttons a{
    padding: 12px 28px;
    border: 5px;
    font-weight: bold;
    text-decoration: none;
    transition:  all 0.3s ease;
}

.primary-btn{
    background: #374103;
    color: #fff;
    padding: 12px 30px;
    border-radius: 7px;
    width: 150px;
    font-size: 20px;
    height: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.primary-btn:hover{
    background-color: #fff;
    color: rgb(7, 85, 7);
}

.secondary-btn{
    background: #0f172a;
    color: #fff;
    padding: 12px 28px;
    width: 150px;
    font-size: 20px;
    border-radius: 7px;
    height: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.secondary-btn:hover{
    background-color: #fff;
    color: rgb(11, 53, 11);
}


@keyframes slowZoom{
    from{transform: scale(1);}
    to {transform: scale(1.2);}
}

.inspiration{
    background-color: rgb(10, 56, 10);
    padding: 80px 16px;
    display: flex;
    justify-content: center;
}

.inspiration-container {
    max-width: 800%;
    text-align: center;
    color: #fff;
}

.inspiration-container h2{
    font-size: 2.4rem;
    margin-bottom: 29px
}

.inspiration-container p{
    font-size: 1.7rem;
    line-height: 1.7;
    margin-bottom: 35px;
}

.readmore-btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.readmore-btn:hover{
    background: #fff;
    color: #000;
}

.book{
    background: #000;
    padding: 80px 20px;
}

.book-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1.7;

}

.book-container h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.book-cover{
    width: 260px;
    max-width: 100%;
    border-radius: 0.4rem;
    margin-top: 29px;
    display: block;
   

}

.buy-btn{
    padding: 14px 36px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.3s ease;
    margin-top: 20px;
    width: 109px;
}

.buy-btn:hover{
    background: #fff;
    color: #000;
}

.consultation{
    background: #0f172a;
    padding: 100px 20px;
}

.consultation-content{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.consultation-content h2{
    color: #fff;
    font-size: 2rem;
}

.email-icon img{
    width: 60px;
    height: 60px;
}

.email-text{
    color: #22c55e;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.email-text:hover{
    text-decoration: underline;
}

.socials{
    display: flex;
    gap:25px;
    margin-top: 10px;
}

.socials img{
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease; 
}

.socials a :hover img{
    transform: scale(1.2);

}

.contact {
    background: #000;
    padding: 100px 20px;
    color: white;
}

.contact h1{
    font-size: 36px;
    font-weight: 600;
}

.contact p{
    font-size: 25px;
}

.contact-container {
    max-width: 800px;
    margin: auto;
    color:#fff;
    text-align: center;
}

.contact-container{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.contact-text{
    color: #aaa;
    margin-bottom: 40px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
   
}

.form-group label{
    margin-bottom: 20px;
    font-size: 19px
}
.form-group input,
.form-group textarea{
    padding: 14px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
}

.form-group textarea{
    min-height: 130px;
    resize: vertical;
}

.massage-btn {
   margin-top: 39px;
    width: 200px;
    align-items: center;
    padding: 14px 45px;
    border: none;
    background: green;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.site-footer{
    background: rgb(7, 13, 26);
    text-align: center;
    padding: 40px 20px;
}

.footer-nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    margin-bottom: 15px;
}

.footer-nav a{
   color: #fff;
   text-decoration: none;
   font-size: 0.95rem;
}

.footer-nav a:hover{
    color: #1d4d36;
}

.footer-email{
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #fff;
}

.footer-copyright{
    font-size: 0.85rem;
    opacity: 0.7;
    color: #fff;
}


@media(max-width:900px){
        .navlinks,
        .nav-button{
            display: none;

        }
        .hamburger{
            display: flex;
        }
        .navlinks.active{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            background: #111;
            padding: 20px 0;
            text-align: center;
        }
        .navlinks li a{
            font-size: 20px;
        }        
        .hamburger{
            display: grid;
        }
        }

@media(max-width: 768px) {
    .hero{
        height: 100vh;

    }
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-content p{
        font-size: 1rem;
    }
}

@media(max-width: 768px) {
    
    .inspiration-container h2{
            font-size: 2rem;
       }
        .inspiration-container p{
                font-size: 1.9rem;
        }

        .contact-container h1 {
            font-size: 2rem;
       }

        .contact-container p {
           font-size: 1rem;
       }

        .contact-form input,
        .contact-form textarea {
        font-size: 0.95rem;
     }

       .contact-btn {
        padding: 12px 30px;
  }
}
@media (max-width: 760px){
       .contact-form .form-grid{
        grid-template-columns: 1fr;
       }
}

@media(min-width: 600px) {
    .footer-nav {
        gap: 12px;
    }
}
