*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 20px;
}
.logo{
    width: 10rem;
    height: 10rem;
    cursor: pointer;   
}
.hamburger{
    display: none;
    gap: 28px;
    cursor: pointer;
}

.hamburger span1 {
    width: 25px;
    height: 3px;
    background: white;
}

.z{
    text-decoration: none;
    gap: 30px;
    color: white;
    margin-right: 90px;
    font-size: 20px;
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    
}
.a{
    gap:2rem;
    list-style-type: none;
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 60px;

}
.frame{
    height: 100%;
    background-position: cover;
    border-bottom: 2px solid rgb(0, 0, 0); 
}

  
.card{
    margin-top: 10px;
    margin-left: 40px;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    margin-left: 42%;
}
iframe{
    width: 100%;
    height: 50%;
}
.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.hero-bg{
    position: absolute;
    inset: 0;
    background-image: url(./IMG-20251229-WA0059.jpg);
    animation: slowZoom 20s ease-in-out infinite alternate;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    background-image: cover;
}
@keyframes slowZoom {
    from{transform: scale(1);}
    to {transform: scale(1.3);}
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);  
}

.hero-content{
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 45px;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem;

}

.hero-content h1{
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 35px;
}
.hero-buttons{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    font-size: 2.0rem;
    letter-spacing: 10px;
}

.btn{
    width: 200px;
    border-radius: 14px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 30px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.btn-book{
    background-color: #374103;
    color: #fff;
}
.btn-session{
    background-color: rgba(60, 60, 60, 0.9);
    color: #fff;
}

.btn:hover{
    transform: translateY(-3px);
    opacity: 0.95;
}
.about-tm{
   background-color: black; 
   border-top: 5px solid rgb(2, 41, 5);
   margin-top: 1px;
}
.about h2{
    color: white;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 35px;
}
.About-btn{
    margin-left: 30rem;
    padding: 15px 30px;
    font-size: 18px;
    margin-bottom: 90px;
    background-color:green;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.About-btn a{
    text-decoration: none;
    color: white;
}
.My-inspiration {
    background-color: rgb(10, 56, 10);
    color: white;
    position: relative;
    
    align-items: center;
    justify-content: center;   
    text-align: center;
    padding: 12px;
   
            
}
.inspiration-head{
    margin-left: 1rem;
    font-size: 50px;
    padding-top: 50px;
}

.inspiration-maintext{
    margin-top: 80px;
    font-size: 2rem;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.7;
}

.inspiration-btn{
    width: 250px;
    margin-left: 1rem;
    padding: 20px 30px;
    font-size: 20px;
    margin-bottom: 90px;
    background-color: black;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
}
.inspiration-btn a{
    text-decoration: none;
    color: white;
}
.book{
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    
    align-items: center;
    justify-content: center;   
    text-align: center;
    padding: 40px 20px;

}
.tm-book{
    max-width: 300px;
    margin: 200px auto 0 auto;
    height: auto;
    width: 220px;
    display: block;
    margin-top: 30px;
    border-radius: 0.7rem;
}
.book h1{
    justify-self: center;
    margin-top: 20px; 
    border-bottom: 2px solid green;
    color: white;
    
}
.book h3{
    justify-self: center;
    margin-top: 20px; 
    border-bottom: 2px solid green;
    margin-bottom: 10px;
    color: white;
}
.book p{
    color: white;
}
body{
    background-color: black;
}.bk{
    width: 200px;
    margin-left: 0.-1rem;
    padding: 20px 30px;
    font-size: 20px;
    margin-bottom: 90px;
    background-color:#374103;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    
}.bk a{
   text-decoration: none;
    color: white; 
}
.consultation{
    height: 100vh;
    background-color: rgba(10, 56, 10,  1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 900;
    gap: 12rem;
    text-align: center;
    color: rgb(11, 11, 11);
    
}
.consult-title{
    font-size: 60px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 30px;
   
}
.bi-envelope{
    font-size: 90px;
    margin-top: 35px;
    
}
.email-box h3{
    font-size: 40px;
    color: #ffffff;
}
.email-box p{
    font-size: 18px;
    color: #ffffff;
}


.icon i{
    display: flex;
    gap: 18px;
    margin-top: 20px;
    font-size: 20px;
}

.contact{
    background-color: rgb(221, 230, 221);
    justify-items: center;

    
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1f 1fr;
    place-items: center;
    gap: 20px;
    margin-left: 10rem;
    margin-right: 10rem;
}
.firstname input
{
    width: 10rem;
    height: 40px;
    border: 1px solid rgb(62, 62, 75);
    border-radius: 4px;
}
.firstname p, input
{
    margin-bottom: 15px;
}
select
{
    width: 48.4rem;
    height: 40px;
    border: 1px solid rgb(19, 19, 20);
    border-radius: 4px;
}
.choose
{
    margin-left: 15.8rem;
}
.message input{
    margin-top: 20px;
    width: 14rem;
    height: 10rem;
    border: 1px solid rgb(20, 20, 22);
    border-radius: 4px;
}
.messages{
   width: 180px;
   height: 45px;
   margin-left: 5rem;
   background-color: black;
   border: none;
   color: white;
   border-radius: 5px;
   margin-bottom: 20px;
}

.contact h1{
    justify-self: center;
    margin-bottom: 10px;
    margin: 10px;
}
.contact p{
    justify-self: center;
    margin-bottom: 10px;
}


.tm ul{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-left: 19px;
    margin-right: 19px;
}
.bt{
    margin-top: 19px;
    margin-left: 10px;
    width: 130px;
    height: 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
}
.tm{
    background-color: rgb(10, 56, 10);
    justify-items: normal;
    
}

.footer-z{
 margin-right: 70px;
 text-decoration: none;
 color: white;
 margin-right: 30px;

}
.tm p{
    margin-left: 10px;
    margin-top: 20px;
    color: white;
}
    @media ( max-width: 900px){
        .nav-bar {
            width: 30px;
            display: block;
            background: black;
            top: 60px;
            right: 0;
            width: 100%;
            padding: 20px;
        }
        .hamburger{
            display: block;
        }
        .hero-bg{
            width: 100%;
            display: grid;
        }
        .My-inspiration{
            width: 100%;
            display: grid;
            padding: 20px;
            margin: 39px;

        }
    }